/mex/
/trash/
*.mexa64
*.mexglx
*.mexmaci
*.mexmaci64
*.mexw32
*.mexw64
private/Mat2NlxEV.m
private/Mat2NlxNRD.m
private/Mat2NlxSpike.m
private/Mat2NlxTS.m
private/Mat2NlxVT.m
private/Nlx2MatCSC.m
private/Nlx2MatEV.m
private/Nlx2MatSpike.m
private/Nlx2MatTS.m
private/Nlx2MatVt.m
